/* Layout for all cards */
.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 24px;
  border-radius: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

/* Retro box style from Uiverse.io */
.card {
  flex: 1 1 300px;   
  font-family: sans-serif;
  color: white;
  width: 300px;
  height: 400px;
  background: #1d1b1f;
  border: 1px solid #cac5c527;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  /* Add font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Card header */
.head {
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 150px;
  background: #1d1b1f;
  padding: 20px 12px;
  color: #fefefe;
  border-bottom: 1px solid #888686;
}

/* Card content */
.content {
  padding: 8px 12px;
  font-size: 13px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Button style */
.button {
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left:190px;
  border: 1px solid #000000;
  font-weight: 750;
  background: #f2f1ef;
  border-radius: 10px;
  color: #000;
  width: fit-content;
  
  /* Initial state: invisible */
  opacity: 0; 
  /* Add a transition for a smooth fade-in effect */
  transition: opacity 0.1s ease; 
}
.card:hover{
  border: 1px solid #cac5c562;
}

/* Card hover effect */
.card:hover .button {
  opacity: 1; 
}

.button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: #1ac2ff;
}

.button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -70px;
    gap: 20px;
    grid-template-columns: none; 
  }
    
  .card {
    border-radius: 20px;
    width: 100%; 
  }
}