/* Layout for all cards */
.home-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 24px;
  margin-top: 20px;
  border-radius: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.card-content{
  height: 400px;
}
/* Retro box style */
.card {
  flex: 1 1 300px;
  font-family: sans-serif;
  color: white;
  width: 300px;
  height: 400px;
  background: #1d1b1f;
  border: 1px solid #cac5c527;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Card header */
/* Card header (title area) */
.head {
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: auto;   
  background: #1d1b1f;
  padding: 20px 12px;
  color: #fefefe;
 border-top: 1px solid #444;  
  margin-top: -20px;   
}

/* Card content */
.content {
  padding: 8px 12px;
  font-size: 13px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -30px;   
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 30px 0 0; 
  z-index: 2; 
}
/* Button style */
.button {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000000;
  font-weight: 750;
  background: #ffffff;
  border-radius: 10px;
  color: #312e2e;
  width: fit-content;
  opacity: 0;
  transition: opacity 0.1s ease;
}

/* Card hover effects */
.card:hover {
  border: 1px solid #cac5c562;
}

.card:hover .button {
  opacity: 1;
}

.button:hover {
  translate: 1.5px 1.5px;
  box-shadow: 1.5px 1.5px 0 #000000;
  background: #1ac2ff;
}

.button:active {
  translate: 3px 3px;
  box-shadow: 0 0 0 #000000;
}

/* Media query for mobile */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: -70px;
    gap: 20px;
    grid-template-columns: none;
  }

  .card {
    border-radius: 20px;
    width: 100%;
  }
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

.action-buttons{
  margin-top: 20px;
  margin-left: 20px;
  display: flex;       
  align-items: center; 
  gap: 20%;      
}

@media (max-width: 768px) {
  .action-buttons {
   gap: 25%; 
  }
}

.btn-unliked:hover{
  background-color: rgb(15, 222, 15);
  border-radius: 50%;
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}

.btn-disdisliked:hover{
  background-color: rgb(222, 15, 15);
  border-radius: 50%;
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}

.btn-bookmarked:hover{
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}
.btn-unbookmark{
  background-color: rgb(220, 202, 6);
  border-radius: 50%;
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}

.btn-cpylink:hover{
  transform: scale(1.3);
  transition: transform 0.2s ease-out;
}